@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
	navigation: auto;
}

/* headings */

h1 {
	view-transition-name: headings;
}

::view-transition-old(headings) {
	animation: scale-out 0.75s ease-in-out;
	animation: fade-out 0.5s ease-in-out;
}

::view-transition-new(headings) {
	animation: scale-in 0.75s ease-in-out;
	animation: fade-in 0.5s ease-in-out;
}

/* postits */
::view-transition-old(postit-*) {
	animation: fade-out 0.75s ease-in-out;
}

::view-transition-new(postit-*) {
	animation: fade-in 0.75s ease-in-out;
}

/* keyframes */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes scale-in {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}

@keyframes scale-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
	}
}
