@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- transitions ------ */

/* headings */

h1 {
	view-transition-name: headings;
}

::view-transition-old(headings) {
	animation: fade-out 0.45s ease-out;
}

::view-transition-new(headings) {
	animation: fade-in 0.45s ease-in-out;
}

h2 {
	view-transition-name: headings2;
}
::view-transition-old(headings2) {
	animation: fade-out 0.45s ease-out;
}

::view-transition-new(headings2) {
	animation: fade-in 0.45s ease-in-out;
}

/* Post-its */
::view-transition-old(postit-*) {
	animation: fade-out 0.75s ease-in-out;
}

::view-transition-new(postit-*) {
	animation: fade-in 0.75s ease-in-out;
}

/* keyframes */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes scale-in {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}

@keyframes scale-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
	}
}
